@use "sass:map";

/* manrope-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/manrope-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/manrope-v19-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/manrope-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

$text-presets: (
    "1": (
        size: 1.25em, // 20px
        weight: 700,
        line-height: 1.3,
        letter-spacing: 0.015625em, // 0.25px 
        family: ("Manrope", Arial, Helvetica, sans-serif )
    ),
    "2": (
        size: 0.8125em, // 13px
        weight: 500,
        line-height: 1.4,
        letter-spacing: 0.12em,  
        family: ("Manrope", Arial, Helvetica, sans-serif )
    ),
    "2--bold": (
        size: 0.8125em, // 13px
        weight: 700,
        line-height: 1.4,
        letter-spacing: 0.12em, 
        family: ("Manrope", Arial, Helvetica, sans-serif )
    ),
    "3": (
        size: 0.8125em, // 13px
        weight: 400,
        line-height: 1.4,
        letter-spacing: 0.25em,
        family: ("Manrope", Arial, Helvetica, sans-serif ),
        text-transform: uppercase,
    ),
);

@mixin apply-text-presets($name) {
    $preset: map.get($text-presets, $name);
    @if $preset {
        font-size: map.get($preset, size);
        font-weight: map.get($preset, weight);
        line-height: map.get($preset, line-height);
        letter-spacing: map.get($preset, letter-spacing);
        font-family: map.get($preset, family);
        @if map.has-key($preset, text-transform) {
            text-transform: map-get($preset, text-transform);
        }
    }
}