@use "./fonts.scss";

:root {
  // === colors ===
  --color-white: #ffffff;
  --color-grey-900: #48556a;
  --color-grey-500: #6e8098;
  --color-grey-400: #9daec2;
  --color-grey-200: #ecf2f8;

  // === spacing ===
  --spacing-0: 0rem;
  --spacing-200: 1rem; // 16px
  --spacing-300: 1.5rem; // 24px
  --spacing-400: 2rem; // 32px
  --spacing-500: 2.5rem; // 40px
  --spacing-600: 3rem; // 48px
  --spacing-700: 3.5rem; // 56px
  --spacing-800: 4rem; // 64px
  --spacing-1300: 6.5rem; // 104px
  --spacing-2000: 10rem; // 160px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-200);
  height: 100vh;
}

// buttons
button {
  background-color: transparent;
  cursor: pointer;
  border: transparent;
}

.card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 0.625rem; // 10px
  background-color: var(--color-white);
  max-width: 20.4375rem; // 327px

  &__image {
    max-height: 12.5rem; // 200px
    object-fit: cover;
    object-position: center;
  }

  &__content {
    padding: var(--spacing-400) 1.875rem 1.125rem; // 30px, 18px
  }

  &__headline {
    margin-bottom: var(--spacing-300);
    color: var(--color-grey-900);
    @include fonts.apply-text-presets("1");
  }

  &__text {
    margin-bottom: var(--spacing-600);
    color: var(--color-grey-500);
    @include fonts.apply-text-presets("2");
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--spacing-200);
  }

  &__author {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
  }

  &__avatar {
    width: 2.5rem; // 40px
    aspect-ratio: 1 / 1;
    border-radius: 100%;
  }

  &__author-name {
    color: var(--color-grey-900);
    @include fonts.apply-text-presets("2--bold");
  }

  &__release-date {
    color: var(--color-grey-400);
    @include fonts.apply-text-presets("2");
  }

  &__share-button {
    position: relative;
    z-index: 2;
    width: 2rem; // 32px
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background-color: var(--color-grey-200);
    outline: transparent;
    border: none;
    cursor: pointer;

    img {
      width: 0.9375rem;
    }

    &--active {
    background-color: var(--color-grey-500);
    img {
      filter: brightness(0) invert(1);
    }
  }
  }

  @media (min-width: 48em) {
    overflow: visible;
    flex-direction: row;
    max-width: 38rem; // 608px

    &__image {
      max-height: unset;
      max-width: 14.3125rem; // 229px
      border-radius: 0.625rem 0 0 0.625rem; // 10px
    }

    &__content {
      padding: 2rem 2.5625rem 2.25rem; // 32px 41px 36px
    }

    &__text {
      margin-bottom: var(--spacing-300);
    }

    &__share-button-container {
    position: relative;
  }
  }

  @media (min-width: 67.5em) {
    max-width: 45.625rem; // 730px

    &__image {
      max-width: 17.8125rem; // 285px
    }

    &__content {
      padding: 1.875rem var(--spacing-500); // 30px
    }
  }
}

.toast {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4.75rem; // 76px
  background-color: var(--color-grey-900);
  padding:  1.375rem 1.875rem; // 22px 30px
  display: flex;
  align-items: center;
  gap: var(--spacing-300);

  color: var(--color-grey-400);
  @include fonts.apply-text-presets("3");

  &__buttons {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
  }

  @media (min-width: 48em) {
    width: fit-content;
    height: fit-content;
    padding:  1rem 2,4375rem; // 16px 39px
    border-radius: 10px;
    top: -5.25rem; // 84px
    bottom: unset;
    left: 50%;
    transform: translateX(-50%);
    
    &__buttons:after {
      content: "";
      width: 0;
      height: 0;
      border-left:  12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid var(--color-grey-900);
      position: absolute;
      bottom: -12px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
